n8n/workflows/01-webhook-ingest-order.json
{
  "name": "01 Webhook Ingest Sale Order",
  "nodes": [
    {
      "id": "101",
      "name": "Webhook Order",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest-order",
        "responseMode": "lastNode",
        "options": {}
      }
    },
    {
      "id": "102",
      "name": "Create Order (API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        520,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_URL || 'https://api.' + $env.BASE_DOMAIN}}/sales/orders",
        "sendBody": true,
        "jsonParameters": true,
        "bodyParametersJson": "={{JSON.stringify($json)}}",
        "options": {
          "timeout": 60000
        },
        "headerParametersJson": "={{JSON.stringify({'x-internal-api-key': $env.INTERNAL_API_KEY})}}"
      }
    },
    {
      "id": "103",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        760,
        300
      ],
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      }
    }
  ],
  "connections": {
    "Webhook Order": {
      "main": [
        [
          {
            "node": "Create Order (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Order (API)": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "meta": {
    "instanceId": "imported"
  },
  "id": null
}